<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hang.manager.dao.TbItemCustomMapper" >
  <sql id="Base_Column_List" >
    id, title, sell_point, price, num, barcode, image, cid, status, created, updated
  </sql>
  <select id="countItems" resultType="Long">
    select count(1)
    from tb_item
  </select>
  <select id="findItems" resultType="com.hang.manager.pojo.po.TbItem">
    select <include refid="Base_Column_List"/>
    from tb_item
    limit #{offset},#{limit}
  </select>
</mapper>